@import 'https://api.tomtom.com/maps-sdk-for-web/cdn/6.x/6.25.0/maps/maps.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 260 20% 95%; /* Very light gray - #F4F3F6 */
    --foreground: 240 10% 4%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 4%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 4%;
    --primary: 260 38% 83%; /* Light, muted lavender - #D0C6E0 */
    --primary-foreground: 260 20% 20%;
    --secondary: 260 20% 90%;
    --secondary-foreground: 240 10% 4%;
    --muted: 260 20% 90%;
    --muted-foreground: 240 4% 40%;
    --accent: 14 55% 80%; /* Soft coral - #E0B4A7 */
    --accent-foreground: 14 30% 30%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;
    --border: 260 20% 88%;
    --input: 260 20% 92%;
    --ring: 260 38% 83%;
    --radius: 0.8rem;
    --chart-1: 260 38% 83%;
    --chart-2: 14 55% 80%;
    --chart-3: 260 30% 70%;
    --chart-4: 14 45% 70%;
    --chart-5: 260 20% 60%;
  }

  .dark {
    --background: 260 10% 10%;
    --foreground: 0 0% 98%;
    --card: 260 10% 15%;
    --card-foreground: 0 0% 98%;
    --popover: 260 10% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 260 38% 73%;
    --primary-foreground: 260 20% 10%;
    --secondary: 260 10% 20%;
    --secondary-foreground: 0 0% 98%;
    --muted: 260 10% 20%;
    --muted-foreground: 240 4% 60%;
    --accent: 14 55% 70%;
    --accent-foreground: 14 30% 20%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;
    --border: 260 10% 25%;
    --input: 260 10% 22%;
    --ring: 260 38% 73%;
    --chart-1: 260 38% 73%;
    --chart-2: 14 55% 70%;
    --chart-3: 260 30% 60%;
    --chart-4: 14 45% 60%;
    --chart-5: 260 20% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.map-container {
    height: 250px;
    width: 100%;
    border-radius: var(--radius);
}

.tomtom-sdk-map-copyright, .tomtom-sdk-map-logo {
    display: none !important;
}

.tt-search-box-input {
    background-color: hsl(var(--input));
    color: hsl(var(--foreground));
    border: 1px solid hsl(var(--border));
    padding: 0.5rem 1rem;
    height: 40px;
    border-radius: var(--radius);
}
.tt-search-box-input:focus {
    border-color: hsl(var(--ring));
    outline: none;
    box-shadow: 0 0 0 2px hsl(var(--ring));
}

.tt-search-box-result-list {
    background-color: hsl(var(--popover));
    border: 1px solid hsl(var(--border));
    border-radius: var(--radius);
}

.tt-search-box-result {
    color: hsl(var(--popover-foreground));
}

.tt-search-box-result.tt-search-box-result-focused {
    background-color: hsl(var(--accent));
    color: hsl(var(--accent-foreground));
}
